@font-face {
    font-family: 'bebas_neuebold';
    src: url('fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('fonts/bebasneue_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  min-width: 1098px;
  margin: 0 auto;
  padding: 0;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background: #5e6f81;
}

a {
  text-decoration: none;
}

.site,
.main-header,
.main-footer{
  margin:0 auto;
  width: 1098px;
  background: #fff;
}

.site{
  width: 1098px;
  height: auto;
  background-color: #ffffff;
}

.main-navigation {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;

  background-color: #ffffff;
}

.site-navigation,
.footer-navigation {
  list-style: none;
}

.site-navigation-contacts{
  text-decoration: underline;
}

.footer-navigation a {
color: #d25b38;
text-decoration: underline;
font-size: 11px;
}

.site-navigation a{
  color: #424345;
text-decoration: underline;
}

.site-navigation-contacts {
  color: #d25b38;
}

.site-navigation li a.current{
  border: 2px solid #db7c60;
  color: #424345;
  background-color: rgba(210, 91, 56, 0.1);
}

.main-header-contacts{
  color: #d25b38;
  font-size: 24px;
}

.advantage {
  background-image: url("img/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.advantage p{
  color: #000000;
  background-color: #ffffff;
  opacity:0.8;
}

.about_us h2,
.projects h2,
.news h2{
  font-size: 30px;
  color: #d25b38;
}

em{
  font-size: 15px;
  color: #000000;
}

.about_us_img{
  color: #d25b38;
  border: 10px;
  border-style: solid;
  border-radius: 100px;
  margin-top: 30px;
  width: 158px;
  height: 158px;
}

.projects-button{
color: #ffffff;
text-decoration: underline;
font-size: 16px;
border: 2px solid #d25b38;
color: #d25b38;

padding: 5px;
padding-left: 30px;
padding-right: 30px;
}

.news h2{
  padding-left: 80px;
  padding-top: 80px;
  margin-top: 0;
  padding-right: 30px;
  color: #000;
}

.news time{
position: relative;
padding-top: 50px;
display: block;
color: #d25b38;
font-size: 18PX;
font-weight: bold;
font-family:bebas_neuebold;
padding-bottom: 10px;
text-align: center;
}

.news time::after{
content:"";
position: absolute;

width: 60px;
height: 60px;
background-image: url("img/news.png");
background-repeat: no-repeat;
background-size: 50px 50px;

top: -15px;
left: 85px;


}

.news-item a{
  display:block;
  color: #000000;
  font-size: 12px;
  line-height: 14px;
  padding-left: 35px;
  padding-right: 15px;
  padding-bottom: 10px;
  text-align: left;
}

.servisec{
  background-image: url("img/services.jpg");
  background-color: #ffffff;
}

.servisec h2{
  font-size: 55px;
  font-weight: bold;
  color: #d25b38;
  padding-left: 60px;
}

.servisec-list a{
  color: #ffffff;
  font-size: 16px;
  text-decoration: underline;
}

.button-servisec{
  position: absolute;
  right: 58px;
  bottom: 20px;
  color: #ffffff;
  text-decoration: underline;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #d25b38;

  padding: 5px;
  padding-right: 20px;
  padding-left: 20px;
  }

a:hover,
a:focus{
  text-decoration: none;
}

.main-footer p{
  color: #000000;
  font-size: 11px;
  font-weight: bold;
  line-height: normal;
}

.footer-navigation a:hover,
.footer-navigation a:focus{
  text-decoration: none;
}

.news{
  display: flex;
}

.news-list{
  list-style: none;
  display: flex;
  margin-top:50px;
  margin-bottom: 20px;
  padding-bottom: 0px;
}

.servisec-list{
  margin-bottom: 0px;
  padding-bottom: 20px;
  list-style: none;
}

.visually-hidden{
  visibility: hidden;
}

.site-navigation{
  width: 540px;
  margin: 0;
  padding: 0;
}

.site-navigation-contacts{
  width: 210px;
  margin: 0;
  padding: 0;
}

.main-navigation-wrapper {
  min-width: 1098px;
  padding-bottom: 2px;
  background: #fff;
}

.container {
  width: 920px;
  margin: 0 auto;
  padding: 0 10px;
  vertical-align: middle;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.logo_contacts{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.main-header-contacts{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 500px;

}

.phone{
  min-width: 100px;
  line-height: 25px;
}

.advantage{
  width: auto;
  margin-bottom: 0;
}

.advantage_txt{
  border: 30px;
  padding-left: 70px;
  padding-top: 50px;
  padding-bottom: 80px;
  width: 280px;
  text-align: center;
}

.advantage_txt p{
  padding: 20px;
  width: 280px;
}

.aboutus{
padding-left: 80px;
padding-right: 30px;
margin-bottom: auto;
padding-bottom: 40px;
background-color: #f4f2f2;
}


.aboutus h2{
  font-size: 48px;
    font-family: bebas_neuebold;
    color: #d25b38;
    padding-left: 0px;
    padding-top: 40px;
    margin-top: auto;
}

.about_us_p{
  font-size: 16px;
  color: #000;
  font-weight: bold;
  margin-bottom: auto;
}

.all{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news{
  width: auto;
  background-color: #f4f2f2;
}

.about_us{
  padding-top: 50px;
  padding-left: 60px;
  display: flex;
  width: 300px;
}

.h2_em{
  width: 280px;
}

.projects{
  width: 700px;
  position: relative;

}

.projects-list{
  list-style: none;
  padding:0;
  background-color: #d25b38;
}

.projects-list a{
  display: block;
  color: #344a59;
  font-size: 12px;
  line-height: 14px;
}

.projects-item-h3{
  font-weight: bold;
  color: #344a59;
  font-size: 13.6px;
  margin-bottom: 0px;
  line-height: 18px;
}

.projects-item-a{
  padding-top: 10px;
}

.projects-item{
  position: relative;
  display: flex;
  align-items:center;
}

.pro{
  width: 240px;
  vertical-align: middle;
    text-align: right;
}

.about_pro{
  display:flex;
}

.project-item-div{
  background-color: #ffffff;
  width: 600px;
  padding-left: 50px;
  margin-left: 50px;
  padding-right: 10px;
}

.neo{
  padding-top: 30px;
}

.mor{
  padding-bottom: 40px;
}

.trin{
  padding-top: 20px;
  padding-bottom: 20px;
}

.neoli{
padding-top: 30px;
}

.trinli{
padding-bottom: 37px;
padding-top: 15px;

}

.morli{
  padding-bottom: 40px;
}

.neoli-p{
  font-family:bebas_neuebold;
  font-weight: bold;
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 5px;
}

.timepro{font-family:bebas_neuebold;
font-weight: bold;
color: #ffffff;
font-size: 16px;
}

.neoli, .trinli, .morli{
  position: relative;
}

.neoli::after{
  content: "";
  position: absolute;

  width: 60px;
  height: 60px;

  right: -90px;
  top: 40px;

  border-radius: 100%;
  background: #fff;

  border-right: 10px solid rgba(205,68,42,0.5);
  border-top: 10px solid rgba(205,68,42,0.5);
  border-left: 10px solid rgba(205,68,42);
  border-bottom: 10px solid rgba(205,68,42);
  transform: rotate(45deg);
  box-shadow: 0 0 1px #fff inset,
              0 0 1px #fff inset,
              0 0 1px #fff;

  background-image: url("img/projects1.png"); display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.trinli::after{
  content: "";
  position: absolute;
  display: block;

  width: 60px;
  height: 60px;

  right: -90px;
  top: 30px;

  border-radius: 100%;

  border-right: 10px solid rgba(205,68,42,0.5);
  border-top: 10px solid rgba(205,68,42,0.5);
  border-left: 10px solid #cd442a;
  border-bottom: 10px solid #cd442a;
  transform: rotate(45deg);
  box-shadow: 0 0 1px #fff inset,
              0 0 1px #fff inset,
              0 0 1px #fff;

  background-image: url("img/projects1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.morli::after{
  content: "";
  position: absolute;
  display: block;

  width: 60px;
  height: 60px;

  right: -90px;
  top: 10px;

  border-radius: 100%;

  border-right: 10px solid rgba(205,68,42,0.5);
  border-top: 10px solid rgba(205,68,42,0.5);
  border-left: 10px solid #cd442a;
  border-bottom: 10px solid #cd442a;
  transform: rotate(45deg);
  box-shadow: 0 0 1px #fff inset,
              0 0 1px #fff inset,
              0 0 1px #fff;

  background-image: url("img/projects1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}


.servisec{
  position: relative;
  width: auto;
}

.servisec_h2{
  padding-left: 80px;
  padding-top: 30px;
}

.servisec-list{
  padding-left: 80px;
}

.main-footer{
  padding: 30px 0;
  background-color: #ffffff;
}

.footer-container{
  display: flex;
  justify-content: space-between;
}

.footer-navigation-ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0px;
  padding-right: 20px;
}

.footer-logo img{
  width: 160px;
  padding-left: 40px;
}

.footer-contacts{
  width: 280px;
  margin: 0;
}

.footer-navigation{
  width: 400px;
}

img {
  max-width: 100%;
  height: auto;
}

.site-navigation{
  display: flex;
  flex-wrap: wrap;
}

.site-navigation a,
.site-navigation-contacts{
  display: block;
  padding: 5px 10px;
  vertical-align: middle;
  margin-left: 2px;
  margin-right: 2px;
}
.site-navigation-contacts{
  padding-left: 50px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-navigation-contacts{
  position: relative;
  margin-bottom: 4px;
}

.site-navigation-contacts::after{
  content: "";

  position: absolute;
  left: 10px;
  bottom: -5px;

  width: 38px;
  height: 38px;

  background-image: url("img/icon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.news-item{
  width: 215px;
  background-color: #fff;
  position: relative;
  margin-right: 10px;
  padding-top: 40px;
  padding-bottom: 10px;
}

.news-list{
  padding-left: 0px;
}
.news{
  position: relative;
}

.button-news{
  padding-left: 80px;
  display: block;
  width: 90px;
  font-family: bebas_neuebold;
  color: #d25b38;
  font-size: 18px;
  text-decoration: underline;
}


}

.projects{
  position: relative;
}

.projects-button{
  display: block;
  position: absolute;
  bottom: 5px;
  right: 23px;
}

.main-footer{
  width: 1098px;
}

.phone-contacts{
  position: relative;
  padding-right: 40px;
  padding-left: 100px;
}

.phone::after{
content: "";

position: absolute;
left: 50px;
bottom: 3px;

width: 45px;
height: 45px;

background: #344a59;
border-radius: 50%;

background-image: url("img/phone.png");
background-repeat: no-repeat;
background-position: center;
}

.mail{
  padding-left: 100px;
}

.mail::after{
content: "";

position: absolute;
left: 50px;
bottom: 3px;

width: 45px;
height: 45px;

background: #344a59;
border-radius: 50%;

background-image: url("img/mail.png");
background-repeat: no-repeat;
background-position: center;
}

.main-header-contacts{
  position: relative;
}
.servisec_h2{
  margin-top: 0px;
}
.servisec-list-li{
  position: relative;
  padding-left: 15px;
}

.servisec-list-li::after{
  content: "";
  position: absolute;
  left: 1px;
  top: 12px;

  width: 8px;
  height: 1px;

  background-color: #ffffff;
}

.servisec-list-li{
  color: #ffffff;
}

.newspage{
  width: auto;
  padding-left: 80px;
  background-color: #f4f2f2;
}

.newspage-list{
  display: block;
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0px;
}

.newspage-list a{
  font-size: 16px;
  color: #000000;
  width: normal;
  padding-right: 80px;
  font-weight: normal;
  text-decoration: underline;
 }
 .newspage h2{
   font-size: 48px;
   font-family: bebas_neuebold;
   color: #d25b38;
   padding-left: 0px;
   padding-top: 40px;
 }

.newspage-h2{
  margin-top:2px;
  padding-top: 30px;
}

.newspage time{
  display: block;
  font-family: bebas_neuebold;
  font-size: 22px;
  color: #d25b38;
  padding-bottom: 5px;
}

.newspage-item{
  display: flex;
  flex-flow: column;
  padding-bottom: 20px;
}

.advantage-all{
  margin-bottom: 3px;
}

.servisec-all{
  padding-left: 80px;
  background-color: #f4f2f2;
}

.servisec-all h2{
  font-size: 48px;
  font-family: bebas_neuebold;
  color: #d25b38;
  padding-left: 0px;
  padding-top: 40px;
}

.servisec-list-all{
  list-style: none;
  padding-left: 0px;
  display: block;
  font-size: 16px;
  color: #000000;
  font-weight: normal;
  line-height: 26px;
  padding-right: 80px;
  font-weight: normal;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

.servisec-list-all a{
  display: block;
  font-size: 16px;
  color: #000000;
  font-weight: normal;
  line-height: 26px;
  padding-right: 80px;
  font-weight: normal;
  text-decoration: underline;
}

.ser-li{
  position: relative;
}

.ser-li::after{
  content: "";
  position: absolute;

  left: -20px;
  top: 12px;

  width: 8px;
  height: 1px;

  background-color: #000;
}

.projectspage{
  width: auto;
  padding-left: 80px;
  background-color: #f4f2f2;
}

.projectspage h2{
  font-size: 48px;
  font-family: bebas_neuebold;
  color: #d25b38;
  padding-left: 0px;
  padding-top: 40px;
  margin-top: 0px;
}

.projectsall{
padding-left: 0px;
display: block;
margin-bottom: 0px
}

.projects-item-all{
  display: block;
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0px;
}

.projectsall time{
  display: block;
  font-family: bebas_neuebold;
  font-size: 22px;
  color: #d25b38;
  padding-bottom: 5px;
}

.projects-item-all{
  display: flex;
  flex-flow: column;
  padding-bottom: 20px;
}

.projects-item-all a{
  font-size: 16px;
  color: #000000;
  width: normal;
  padding-right: 80px;
  font-weight: normal;
  text-decoration: underline;
  }

h2{
  font-family:bebas_neuebold;
  font-weight: bold;
}

.contacts-all{
  text-align: left;
  margin-top: 2px;
  width: auto;
  padding-left: 80px;
  background-color: #f4f2f2;
  margin-bottom: 2px;
}

.contacts-all-h2{
  font-size: 48px;
  font-family: bebas_neuebold;
  color: #d25b38;
  padding-left: 0px;
  padding-top: 40px;
  margin-top: auto;
  margin-bottom: 20px;
}

.contacts-all h3{
  font-size: 30px;
  font-family: bebas_neuebold;
  color: #d25b38;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 30px;
  margin-bottom: auto;
  margin-top: 20px;

}

.contacts-all p{
  margin-left: 32px;
  font-size: 16px;
  color: #000;
  font-weight: bold;
}

.location-all{
  width: auto;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mail-all, .phone-all, .email-all{
  position: relative;
  display: inline-block;
}

.email-all::after{
  content: "";
  position: absolute;

  top:3px;
  left: -35px;

  width: 38px;
  height: 38px;

  background-image: url("img/mailred.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.phone-all::after{
  content: "";
  position: absolute;

  top:-3px;
  left: -30px;

  width: 38px;
  height: 38px;

  background-image: url("img/phonered.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.mail-all::after{
  content: "";
  position: absolute;

  top:-5px;
  left: -40px;

  width: 38px;
  height: 38px;

  background-image: url("img/icon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.one{
  color: #000000;
}

.h2_em h2{
  font-family:bebas_neuebold;
  font-size: 55px;
  font-style: normal;
}

.about_us_txt{
  font-size: 12px;
  font-style: normal;
}

.trinli{
  border-top: 2px solid #db7c60;
  border-bottom: 2px solid #db7c60;
}
