body {
  min-width: 1098px;
  min-height: 1744;
  margin: 0;
  padding: 0;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background: #5e6f81;
}

a {
  text-decoration: none;
}

.site,
.main-header,
.main-footer{
  margin:0 auto;
  width: 1098px;
  background: #fff;
}

.site{
  width: 1098px;
  height: auto;
  background-color: #ffffff;
}

.main-navigation {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;

  background-color: #ffffff;
}

.site-navigation,
.footer-navigation {
  list-style: none;
}

.site-navigation-contacts{
  text-decoration: underline;
}

.footer-navigation a {
color: #e8544c;
text-decoration: underline;
font-size: 11px;
}

.site-navigation a{
  color: #424345;
text-decoration: underline;
}

.site-navigation-contacts {
  color: #e8544c;
}

.site-navigation li a.current{
  background-color: #344c5b;
  color: #ffffff;
}

.main-header-contacts{
  color: #e8544c;
  font-size: 24px;
}

.advantage {
  background-image: url("img/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.advantage p{
  color: #000000;
  background-color: #ffffff;
  opacity:0.8;
}

.about_us h2,
.projects h2,
.news h2{
  font-size: 30px;
  color: #e8544c;
}

em{
  font-size: 15px;
  color: #000000;
}

.about_us_img{
  color: #e8544c;
  border: 10px;
  border-style: solid;
  border-radius: 100px;
  margin-top: 30px;
  width: 158px;
  height: 158px;
}

.projects-button{
color: #ffffff;
text-decoration: underline;
background-color: #344a59;
font-size: 16px;
border: 1px solid #344a59;
border-radius: 20px;
padding: 5px;
}

.news time{
color: #e8544c;
font-size: 14PX;
font-weight: bold;
font-family:Bebas Neue;
}

.news-item a{
  color: #000000;
  font-size: 12px;
  line-height: 14px;
  text-decoration: underline;
}

.button-news {
  color: #ffffff;
  text-decoration: underline;
  background-color: #344a59;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #344a59;
  border-radius: 20px;
  padding: 5px 60px;
  margin-bottom: 10px;
}

.servisec{
  background-image: url("img/services.jpg");
  background-color: #ffffff;
}

.servisec h2{
  font-size: 24px;
  font-weight: bold;
  color: #e8544c;
}

.servisec-list a{
  color: #ffffff;
  font-size: 16px;
  text-decoration: underline;
}

.button-servisec{
  position: absolute;
  right: 58px;
  bottom: 20px;
  color: #ffffff;
  text-decoration: underline;
  background-color: #e8544c;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #e8544c;
  border-radius: 20px;
  padding: 5px;
  padding-right: 20px;
  padding-left: 20px;
  }

a:hover,
a:focus{
  text-decoration: none;
}

.main-footer p{
  color: #000000;
  font-size: 11px;
  font-weight: bold;
  line-height: normal;
}

.footer-navigation a:hover,
.footer-navigation a:focus{
  text-decoration: none;
}

.news-list{
  list-style: none;
}

.servisec-list{
  margin-bottom: 0px;
  padding-bottom: 20px;
  list-style: none;
}

.visually-hidden{
  visibility: hidden;
}

.site-navigation{
  width: 540px;
  margin: 0;
  padding: 0;
}

.site-navigation-contacts{
  width: 210px;
  margin: 0;
  padding: 0;
}

.main-navigation-wrapper {
  min-width: 1098px;
  padding-bottom: 2px;
  background: #fff;
}

.container {
  width: 920px;
  margin: 0 auto;
  padding: 0 10px;
  vertical-align: middle;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.logo_contacts{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.main-header-contacts{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 500px;

}

.phone{
  min-width: 100px;
  line-height: 25px;
}

.advantage{
  width: auto;
  margin-bottom: 0;
}

.advantage_txt{
  border: 30px;
  padding-left: 70px;
  padding-top: 50px;
  padding-bottom: 80px;
  width: 280px;
  text-align: center;
}

.advantage_txt p{
  padding: 20px;
  width: 280px;
}

.all{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news{
  width: 300px;
  padding-bottom: 40px;
}

.about_us{
  padding-left: 60px;
  display: flex;
  width: 700px;
  margin-bottom: 20px;
}

.h2_em{
  padding-left: 30px;
  padding-right: 25px;
}

.projects{
  width: 700px;
  padding-left: 60px;
  order: 1;
  padding-top: 10px;
}

.projects-list{
display: flex;
flex-wrap: wrap;
padding: 0;
margin: 0;

list-style: none;
}

.projects-item{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-image: url("img/projects.jpg");
  background-repeat: no-repeat;
  opacity: 0.9;

  width: 330px;
  height: 160px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.projects-item:nth-child(2n) {
  margin-right: 0;
}

.projects-item-a{
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}

.servisec{
  position: relative;
  width: auto;
}

.servisec_h2{
  padding-left: 80px;
  padding-top: 30px;
}

.servisec-list{
  padding-left: 80px;
}

.main-footer{
  padding: 30px 0;
  background-color: #ffffff;
}

.footer-container{
  display: flex;
  justify-content: space-between;
}

.footer-navigation-ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0px;
  padding-right: 20px;
}

.footer-logo img{
  width: 160px;
  padding-left: 40px;
}

.footer-contacts{
  width: 280px;
  margin: 0;
}

.footer-navigation{
  width: 400px;
}

img {
  max-width: 100%;
  height: auto;
}

.site-navigation{
  display: flex;
  flex-wrap: wrap;
}

.site-navigation a,
.site-navigation-contacts{
  display: block;
  padding: 5px 10px;
  vertical-align: middle;
  margin-left: 2px;
  margin-right: 2px;
}
.site-navigation-contacts{
  padding-left: 50px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-navigation-contacts{
  position: relative;
}

.site-navigation-contacts::after{
  content: "";

  position: absolute;
  left: 10px;
  bottom: -5px;

  width: 38px;
  height: 38px;

  background-image: url("img/icon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.news-item{
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.news-item::after{
  content: "";

  position: absolute;
  left: 1px;
  top: 6px;

  width: 10px;
  height: 70%;
  background-color: #e8544c;
}

.news-list{
  padding-left: 0px;
}
.news{
  position: relative;
}

.button-news{
  position: absolute;
  bottom: 1px;
  left: 30px;
}

.projects{
  position: relative;
}

.projects-button{
  position: absolute;
  top: 30px;
  right: 20px;
}

.main-footer{
  width: 1098px;
}

.phone-contacts{
  position: relative;
  padding-right: 40px;
  padding-left: 100px;
}

.phone::after{
content: "";

position: absolute;
left: 50px;
bottom: 3px;

width: 45px;
height: 45px;

background: #344a59;
border-radius: 50%;

background-image: url("img/phone.png");
background-repeat: no-repeat;
background-position: center;
}

.mail{
  padding-left: 100px;
}

.mail::after{
content: "";

position: absolute;
left: 50px;
bottom: 3px;

width: 45px;
height: 45px;

background: #344a59;
border-radius: 50%;

background-image: url("img/mail.png");
background-repeat: no-repeat;
background-position: center;
}

.main-header-contacts{
  position: relative;
}
.servisec_h2{
  margin-top: 0px;
}
.servisec-list-li{
  position: relative;
  padding-left: 15px;
}

.servisec-list-li::after{
  content: "";
  position: absolute;
  left: 1px;
  top: 12px;

  width: 8px;
  height: 1px;

  background-color: #ffffff;
}

.servisec-list-li{
  color: #ffffff;
}

.newspage{
  width: auto;
  padding-left: 80px;
  background-image: url("img/services-back.jpg");
}

.newspage-list{
  padding-left: 35px;
}

.newspage-list a{
  font-size: 14px;
  color: #ffffff;
 }

.newspage-h2{
  margin-top:2px;
  padding-top: 30px;
}

.advantage-all{
  margin-bottom: 3px;
}

.servisec-all{
  background-image: url("img/services-back.jpg");
}

.newspage-item{
  position: relative;
}

.newspage-item::after{
content:"";
position: absolute;

left: -40px;
top: -5px;

width: 50px;
height: 50px;
border-radius: 50%;
background-color: #ffffff;
border: 6px solid #784336;

background-image: url("img/news.png");
background-repeat: no-repeat;
background-position: center;
}

.projectspage{
  margin-top: 2px;
  width: auto;
  padding-left: 80px;
  background-image: url("img/services-back.jpg");
  padding-bottom: 40px;
}

.projectspage h2{
  font-size: 30px;
}

.projectsall{
  padding-left: 35px;
  display: block;
}

.projects-item-all{
background-image: none;
}

.projects-item-all{
  display: block;
  width: auto;
  height: auto;
  position: relative;
}

.projects-item-all::after{
content:"";
position: absolute;

left: -40px;
top: -5px;

width: 50px;
height: 50px;
border-radius: 50%;
background-color: #ffffff;
border: 6px solid #784336;

background-image: url("img/projects.png");
background-repeat: no-repeat;
background-position: center;
}

.projectsall time{
color: #e8544c;
font-size: 14PX;
}

.projects-item-all{
  position: relative;
  padding-left: 35px;
  margin-bottom: none;
}

.projects-item-all a{
  text-decoration: underline;
  font-size: 14px;
  }

h2{
  font-family:Bebas neue;
  font-weight: bold;
}

.contacts-all{
  text-align: center;
  margin-top: 2px;
  width: auto;
  padding-top: 60px;
  padding-bottom: 40px;
  background-image: url("img/services-back.jpg");
  margin-bottom: 2px;
}

.contacts-all-h2{
  font-size: 24px;
  font-weight: bold;
  color: #e8544c;
  margin-top: 0;
  margin-bottom: 0;
}

.contacts-all p{
  font-size: 16px;
  color: #ffffff;
}
.location-all{
  width: auto;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mail-all, .phone-all, .email-all{
  position: relative;
  display: inline-block;
}

.email-all::after{
  content: "";
  position: absolute;

  top:3px;
  left: -35px;

  width: 38px;
  height: 38px;

  background-image: url("img/mailred.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.phone-all::after{
  content: "";
  position: absolute;

  top:-3px;
  left: -30px;

  width: 38px;
  height: 38px;

  background-image: url("img/phonered.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.mail-all::after{
  content: "";
  position: absolute;

  top:-5px;
  left: -40px;

  width: 38px;
  height: 38px;

  background-image: url("img/icon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
